main {
    width: 100%;
    height: 100%;
    position: static;
    transform: none;
    background-color: white;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 0;
    flex-direction: column;
}

.details {
    padding-top: 10px;
}

.details>div>p {
    font-size: 15px;
}

.details>div {
    margin-bottom: 15px;
}

.img-mobile {
    display: block;
}

.img-desktop {
    display: none;
}

.container-message {
    width: 100% !important;
}

.success-message {
    padding: 30% 6% 3% 6%;
}

.form-message {
    margin-top: 50%;
}